---
import Layout from '@/layouts/MainLayout.astro';
---

<Layout title='Adhar' description='Open Foundation for Modern Businesses.'>
  <main class='flex h-full w-full items-center justify-center p-2'>
    <h1>Welcome to Adhar Platform!</h1>
  </main>
</Layout>
