---
import { Icon } from 'astro-icon/components';
---
<section
    data-aos="zoom-in"
    data-aos-duration="1000"
    class="py-16 lg:my-24 my-16 lg:!px-24 custom-container lg:flex-row flex-col lg:!mx-auto gap-6 lg:gap-0 !mx-6 rounded-lg bg-primary flex justify-center items-center"
>
    <div class="lg:w-9/12 w-full">
        <h4 class="text-paraColor md:text-2xl text-xl font-semibold mb-4">
            CONNECT
        </h4>
        <h2 class="text-white md:text-4xl text-3xl font-semibold mb-4">
            Meet the community
        </h2>
        <p class="text-white text-lg max-w-[600px]">
            Stop by any of the hundreds of meetups around the world for
            in-person banter or join our Slack and Discourse for virtual peer
            support. Our Docker Captains are also a great source of developer
            insight and expertise.
        </p>
    </div>
    <div class="lg:w-1/4 w-full flex">
        <a
            href="https://join.slack.com/t/adharworkspace/shared_invite/zt-26586j9sx-QGrIejNigvzGJrnyH~IXww"
            class="rounded-[10px] py-5 px-6 text-xl bg-paraColor font-semibold text-white inline-block"
        >
            <span>Connect <Icon name='tabler:brand-slack' class='h-5 w-5' /></span>
        </a>
    </div>
</section>
