---
import { BASE_DOMAIN_URL } from 'config';

const year = new Date().getFullYear();
---

<footer
  class='absolute bottom-0 flex w-full items-center justify-center border-t border-t-tertiary py-2'
>
  <p>
    <a
      href={BASE_DOMAIN_URL}
      class='text-lg text-accent-primary transition-colors hover:text-accent-primary-state focus:text-accent-primary-state'
      >Super power by Anitech Consulting Services Pvt Ltd.</a
    > &nbsp; — &nbsp;

    {year}
  </p>
</footer>
