---
import Image from '@/components/common/Image.astro';
import { SITE } from '@/utils/config';
---

<span
  class='ml-2 self-center whitespace-nowrap text-2xl font-bold text-gray-900 rtl:ml-0 rtl:mr-2 dark:text-white md:text-xl'
>
  <Image
    class=''
    loading='eager'
    width={180}
    height={80}
    src={'/imgs/adhar-logo-black.svg'}
    alt={SITE?.name}
  />
</span>
