---
import type { MetaData } from '@/types';
import Topbar from "@/components/Topbar.astro";
import Footer from "@/components/Footer.astro";
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import { footerData, headerData } from '@/navigation';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name='topbar'>
    <Topbar />
  </slot>
  <slot name='header'>
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot/>
  </main>
  <slot name='footer'>
    <Footer {...footerData} />
  </slot>
</Layout>
